*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins,sans-serif';
    
}
body{
  background-image:url(images/cyber1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 120%;

}
.backgroud{
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color: #262626;
}
.logo{
    width: 300px;
    font-size: 30px;
    color: #f0f8ff;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 12px 20px;
    
}
nav ul li a{
    color:#f0f8ff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
nav ul a{
    text-decoration: none;
    font-size: 24px;
    margin: 0px 10px;
    color: #f5f5f5;
    display: inline-block;
}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background:#adff2f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;


}
nav ul li a:hover::after{
    width: 70px;
}
#new1{
    border: 10px solid rgba(0, 255, 200, 0)
}
.introduction{
    font-size: 20px;
    color: #000;

}
.content{
    font-size: 30px;
    color: #000;;
}

.copyright{
    width: 100%;
    text-align:center;
    display:flex;
    justify-content: space-around;
    padding: 5px;
    background: #262626;
    font-weight: 30;
    position: fixed;
    left: 0;
    bottom: 0;

}
.copyright p{
    font-size: 15px;
    color: #f5f5f5;
}
.copyright i{
    color: #adff2f;
}
.btn1{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 3px;
    width: 100px;
    float: right;
    border-radius: 12px;
    padding: 1px 24px;
    transition: 0.5s;
    background-color: #adff2f;
    border: 2px;
    border-color: none;
    cursor: pointer;

}
.btn1:hover{
    background-color: #f5f5f5;

}


